.catItems {
    display: flex;
    gap: 12px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.catNav {
    margin-top: 25px;
}
/* @media (max-width: 1150px) {
    .catItems {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
@media (max-width: 700px) {
    .catItems {
        gap: 5px;
    }
}
@media (max-width: 620px) {
    .catItems {
        overflow-x: hidden;
        width: 105vw;
        margin-top: 0;
        margin-bottom: 0;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .catItems::-webkit-scrollbar{
        width: 0;
        height: 0;

    }
    .catNav {
        height: 40px;
        width: 100vw;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .catNav::-webkit-scrollbar{
        width: 0;
        height: 0;
    }
}
@media (max-width: 561px) {
    .catItems {
        width: 110vw;
    }
}
@media (max-width: 532px) {
    .catItems {
        width: 115vw;
    }
}
@media (max-width: 511px) {
    .catItems {
        width: 120vw;
    }
}
@media (max-width: 490px) {
    .catItems {
        width: 125vw;
    }
}
@media (max-width: 467px) {
    .catItems {
        width: 130vw;
    }
}
@media (max-width: 450px) {
    .catItems {
        width: 135vw;
    }
}
@media (max-width: 435px) {
    .catItems {
        width: 140vw;
    }
}
@media (max-width: 420px) {
    .catItems {
        width: 145vw;
    }
}
@media (max-width: 405px) {
    .catItems {
        width: 150vw;
    }
}
@media (max-width: 390px) {
    .catItems {
        width: 155vw;
    }
}
@media (max-width: 380px) {
    .catItems {
        width: 165vw;
    }
}
@media (max-width: 350px) {
    .catItems {
        width: 170vw;
    }
} */
.catItem {
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 3px;
    white-space: nowrap;
    cursor: pointer;
    font-family: "Marmelad";
    List-style-type: none;
    color: rgb(173, 173, 173);
    font-weight: 600;
    font-size: 17px;
    outline: none;
}
.active {
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    cursor: pointer;
    font-family: "Marmelad";
    List-style-type: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 17px;
    List-style-type: none;
    border-bottom: 3px solid   #222;
}
@media (max-width: 900px) {
    .catItem,.active {
        font-size: 15px;
    }
    .active {
        font-size: 15px;
    }
    .catItems{
        gap: 0px;
    }
    .active{
        gap: 0px;
    }
}
@media (max-width: 370px) {
    .catItem, .active{
        margin-left: 2px;
        margin-right: 12px;
    }
}

/* li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: rgb(14, 206, 181);;
    transform: scaleX(0);
    transition: transform 0.7s ease;
  } */
  
  /* .active:after {
    transform: scaleX(1);
  } */
/* .catItems li :hover {
    background-color: white;
    color: black;
    cursor: pointer;
} */