.container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 130px;
    margin-bottom: 20px;
    max-width: 1176px;
    background-color: white;
}
@media(max-width:700px){
    .container{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px; 
    border-radius: 0px;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 137px;
    border-bottom: 1px solid #000000;
}
@media(max-width:500px){
    .header{
        display: none;
    }
}
.header_left{
    display: flex;
    gap: 7px;
    margin-left: 38px;
}
.header_left img {
    width: 45px;
    height: 45px;
}
.title h3{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #181818;
}
.title span {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7B;
}
