.wrapeer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.imgmain {
   border-radius: 3px;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1);
}
.imgsecond{
    /* border-radius: 5px; */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1);
}
.imgthird{
    /* border-radius: 5px; */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 1);
}
.buttonBack{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-bottom: 50px;
}
.description{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
}
.description h3 {
    font-size: 20px;
}
.description p {
    color: #5c5c5c;

}
.description_left_text{
    transform: rotate(90deg);
    white-space: nowrap ;
}
.sectionPhoto{
    display: flex;
    flex-direction: column;
}
.imgthird{
    margin-left: 350px;
    margin-top: -40px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.button_buy{
    background-color: rgb(27, 27, 27);;
    width: 200px;
    height: 45px;
} 
.button_buy:hover{
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 2px solid rgb(27, 27, 27) ;
}
.button_back{
    color: #000;
    background-color: rgb(255, 255, 255);;
    border: 2px solid rgb(27, 27, 27) ;
    width: 200px;
    height: 45px;
}
.button_back:hover{
    color: white;
    background-color:rgb(27, 27, 27);
}
a {
    text-decoration: none;
}
@media(max-width:910px){
    .imgmain {
        width: 700px;
    }
    .imgsecond{
        width:300px;
        height: 250px;
    }
    .imgthird{
        width:400px;
        height: 300px;
        margin-left: 280px;
        margin-top: -40px;
    }
    .description{
        width: 700px;
    }
}
@media(max-width:710px){
    .imgmain {
        width: 500px;
        height: 300px;
    }
    .imgsecond{
        width:200px;
        height: 150px;
    }
    .imgthird{
        width:300px;
        height: 200px;
        margin-left: 180px;
        margin-top: -40px;
    }
    .description{
        width: 500px;
    }
    .button_buy,.button_back {
        width: 180px;
        height: 40px;
        font-size: 13px;
    }
}
@media(max-width:510px){
    .imgmain {
        width: 350px;
        height: 250px;
    }
    .imgsecond{
        width:150px;
        height: 100px;
        margin-left: 5px;
    }
    .imgthird{
        width:200px;
        height: 150px;
        margin-left: 145px;
        margin-top: -40px;
    }
    .description{
        width: 350px;
        margin-left: 5px;
    }
    
}