.wrapeer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.buttonBack{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding-bottom: 50px;
}
.buttonBack button{
    background-color: rgb(27, 27, 27);;
    width: 120px;
    height: 35px;
}
.buttonBack img{
    margin-top: 20px;
 }
.description{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 800px;
    margin-left: -70px;
}
.description_left_text{
    transform: rotate(90deg);
    white-space: nowrap ;
}
.sectionPhoto{
    display: flex;
    flex-direction: column;
}

.imgmain {

}
.imgthird{
    margin-left: 350px;
    margin-top: -40px;
}
.button_buy{
    background-color: rgb(27, 27, 27);;
    width: 240px;
    height: 50px;
    margin-left: 330px;
    margin-top: 70px;
    margin-bottom: 100px;
}
a {
    text-decoration: none;
}
@media(max-width:910px){
    .imgmain {
        width: 700px;
    }
    .imgsecond{
        width:300px;
        height: 250px;
    }
    .imgthird{
        width:400px;
        height: 300px;
        margin-left: 280px;
        margin-top: -40px;
    }
    .description{
        width: 700px;
    }
    .button_buy{
        width: 240px;
        height: 50px;
        margin-left: 245px;
        margin-top: 70px;
        margin-bottom: 100px;
    }
}
@media(max-width:710px){
    .imgmain {
        width: 500px;
        height: 300px;
    }
    .imgsecond{
        width:200px;
        height: 150px;
    }
    .imgthird{
        width:300px;
        height: 200px;
        margin-left: 180px;
        margin-top: -40px;
    }
    .description{
        width: 500px;
    }
    .button_buy{
        width: 240px;
        height: 50px;
        margin-left: 145px;
        margin-top: 70px;
        margin-bottom: 100px;
    }
}
@media(max-width:510px){
    .imgmain {
        width: 350px;
        height: 250px;
    }
    .imgsecond{
        width:150px;
        height: 100px;
    }
    .imgthird{
        width:200px;
        height: 150px;
        margin-left: 140px;
        margin-top: -40px;
    }
    .description{
        width: 350px;
    }
    .button_buy{
        width: 240px;
        height: 50px;
        margin-left: 60px;
        margin-top: 70px;
        margin-bottom: 100px;
    }
}