.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    text-align: left;
    display: flex;
    max-width: 1000px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}
.container h2 {
    margin: 0 auto;
}
.pCenter{
    margin: 20px auto;
}