.Items1,.Items2{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 38px;
    margin-right: 38px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
   
 }
 .home{
    position: absolute;
    left: 10px;
    top: 5px;
    filter: invert(100%);
 }
 .home:hover{
    padding-left: 2px;
    padding-right: 3px;
    border-radius: 100px;
    background-color: rgb(26, 26, 26);
    position: absolute;
    left: 10px;
    top: 5px;
 }
.h1 {
    margin-top: -10px;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: -30px;
    letter-spacing: 12px;
    color: #292929;
 }
 .h4 {
    font-size: 23px;
    font-weight: 400;
    color: #535353;
    letter-spacing: 11px;
    margin-bottom: -10px;
 }
 @media(max-width:500px){
    .h1{
        letter-spacing: 3px;
    }
    .h4{
        letter-spacing: 8px;  
    }
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;

}
@media(max-width:800px){
    .Items1,.Items2{
        gap: 30px;
    }
}
/* @media(max-width:900px){
    .Items1,.Items2{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:600px){
    .Items1,.Items2{
        grid-template-columns: repeat(1, 1fr);
    }
} */
@media(max-width:600px){
    .main {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .Items1,.Items2{
        margin-left: 10px;
        margin-right: 10px;
       
    }
}
.categorios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
   }
   @media(max-width:1150px){
    .categorios{
        flex-direction: column;
        justify-content: center;
    }
}