.Items1,.Items2{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
 }
 .home{
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 5px;
 }
 .home:hover{
    filter: invert(100%);
 }
 .header{
    width: 100%;
    cursor: pointer;
    /* border-bottom: 2px solid rgb(12, 163, 143); */
    margin-bottom: -10px;
 }
 .header a { 
    -webkit-tap-highlight-color: transparent;
 }
.h1 {
    margin-top: -10px;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: -30px;
    letter-spacing: 12px;
    color: #000000;
 }
 .h1 span {
    color: #000000;
 }
 /* .h4 span {
    color: #3bb3b8;
 } */
 .h4 {
    font-size: 23px;
    font-weight: 400;
    color: #535353;
    letter-spacing: 11px;
    margin-bottom: 5px;
 }
 @media(max-width:500px){
    .h1{
        font-size: 65px;
        letter-spacing: 3px;
    }
    .h4{
        font-size: 20px;
        letter-spacing: 8px;  
    }
    .home{
       width: 25px;
       height: 25px;
     }
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;

}
@media(max-width:800px){
    .Items1,.Items2{
        gap: 30px;
    }
}
@media(max-width:600px){
    .main {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .Items1,.Items2{
        margin-left: 10px;
        margin-right: 10px;
       
    }
}
.categorios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
   }
   @media(max-width:1150px){
    .categorios{
        flex-direction: column;
        justify-content: center;
    }
}