html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

label {
  line-height: 0;
}

.fake-nav {
  height: 70px;
}

#nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  margin: 0;
  box-shadow: 0 0px 5px rgba(76, 175, 80, 0.4);
  transition: 0.5s;
}
#nav .list-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
#nav .item-menu {
  display: flex;
  align-items: flex-end;
  flex-basis: 250px;
  justify-content: center;
}

.logo {
  padding: 20px 0 15px 0;
  font-size: 25px;
  line-height: 0.9;
  letter-spacing: 10px;
  text-align: center;
}
.logo a {
  text-decoration: none;
  color: #4CAF50;
}
.logo span {
  font-size: 12px;
  letter-spacing: 4px;
  padding: 0;
  margin: 0;
  color: #4CAF50;
  text-decoration: none;
}

.nav-icons i {
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  color: #4CAF50;
  transition: 0.2s;
}
.nav-icons i:hover {
  color: #3d8b40;
  cursor: pointer;
  transform: scale(1.1);
}

#search-form {
  display: flex;
}
#search-form input[type="search"] {
  background: white;
  color: #4CAF50;
  border: none;
  width: 100%;
  padding: 25px;
  font-size: 20px;
  letter-spacing: 2px;
  outline: none;
}
#search-form button {
  color: #4CAF50;
  background: white;
  border: none;
  padding: 7px;
  cursor: pointer;
}
#search-form button:focus {
  outline: none;
}

#search-toggle {
  display: none;
  transition: 0.2s;
}

.search-backdrop,
.search-content {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  transition: 0.2s;
}

.search-backdrop {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(61, 139, 64, 0.5);
  transform: translateY(100%);
}

.search-content {
  width: 100%;
  height: 78px;
  transform: translateY(-100%);
}

#search-toggle:checked ~ .search-backdrop {
  opacity: 1;
  z-index: 998;
  transform: translateY(0%);
}

#search-toggle:checked ~ .search-content {
  opacity: 1;
  z-index: 999;
  transform: translateY(0%);
}

.search-container input::-webkit-input-placeholder {
  color: #a3d7a5;
}
.search-container input::-ms-input-placeholder {
  color: #a3d7a5;
}
.search-container input:-ms-input-placeholder {
  color: #a3d7a5;
}
.search-container input::placeholder {
  color: #a3d7a5;
}

.shop > i {
  position: relative;
  padding: 15px 45px 10px 30px;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: default;
  color: #4CAF50;
}
.shop > i::before {
  content: '';
  position: absolute;
  height: 7px;
  width: 7px;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  transform: translate(54px, 6px) rotate(45deg);
  border-color: #4CAF50;
}

.shop:hover i {
  outline: solid 1px #4CAF50;
}
.shop:hover i::after {
  content: '';
  position: absolute;
  height: 1px;
  bottom: -1px;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1;
}

.shop > .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: none;
  background: white;
}

.shop:hover .sub-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.sub-menu li {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 30px 0;
  border-bottom: solid 1px #4CAF50;
  border-top: solid 1px #4CAF50;
}
.sub-menu li:hover {
  background: #dbf0dc;
}
.sub-menu li h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  color: #4CAF50;
}

/*   START btn-responsive-menu   */
#btm-open-menu {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 22px;
  left: 4%;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}
#btm-open-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #4CAF50;
  left: 0;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#btm-open-menu span:nth-child(1) {
  top: 0px;
}
#btm-open-menu span:nth-child(2), #btm-open-menu span:nth-child(3) {
  top: 14px;
}
#btm-open-menu span:nth-child(4) {
  top: 28px;
}

#responsive-toggle:checked ~ #btm-open-menu span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}
#responsive-toggle:checked ~ #btm-open-menu span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-delay: 0.3s;
}
#responsive-toggle:checked ~ #btm-open-menu span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition-delay: 0.3s;
}
#responsive-toggle:checked ~ #btm-open-menu span:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%;
}

/*   END  btm-responsive-menu   */
@media (max-width: 700px) {
  #nav .list-menu {
    flex-wrap: wrap;
  }
  #nav .item-menu {
    width: 100%;
    flex-basis: 701px;
  }
  #nav .logo {
    order: -1;
  }
  #nav .nav-icons {
    order: -1;
    height: 0;
    margin: 0;
  }
  #nav .shop,
  #nav .nav-icons {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: 0.2s;
  }
  #nav #responsive-toggle:checked ~ .shop,
  #nav #responsive-toggle:checked ~ .nav-icons {
    display: flex;
    width: 100%;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
  }
  #nav #responsive-toggle:checked ~ .nav-icons {
    height: 100%;
    margin-bottom: 10px;
  }

  #btm-open-menu {
    display: block;
    z-index: 1;
  }

  .shop > i {
    display: none;
  }

  .shop > .sub-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }

  .sub-menu li {
    padding: 20px 0;
  }

  .sub-menu li:not(:first-child) {
    border-top: none;
  }
}
.list-menu #responsive-toggle {
  display: none;
}

@media (max-height: 400px) {
  .shop > .sub-menu {
    flex-wrap: nowrap;
  }

  .sub-menu {
    border-top: solid 1px #4CAF50;
  }
  .sub-menu li:not(:last-child) {
    border-right: solid 1px #4CAF50;
  }
  .sub-menu li {
    border-top: none;
  }

  .shop:hover i::after {
    background: #4CAF50;
  }
}
/*  START modal-container with login & sign in   */
#modal-login-toggle,
#modal-basket-toggle {
  display: none;
}

.modal-content,
.modal-backdrop {
  opacity: 0;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 550px;
  max-height: 98%;
  width: 70%;
  max-width: 600px;
  text-align: center;
  transform: translateX(125%);
}

.modal-backdrop {
  left: 0;
  top: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  transform: scale(0);
}

#modal-login-toggle:checked ~ .modal-backdrop,
#modal-basket-toggle:checked ~ .modal-backdrop {
  opacity: 1;
  background-color: rgba(61, 139, 64, 0.5);
  z-index: 998;
  transform: scale(1);
}

#modal-login-toggle:checked ~ .modal-content,
#modal-basket-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: auto;
  cursor: auto;
  z-index: 999;
  transform: translateX(0%);
}

@media (max-width: 600px) {
  #modal-login-toggle:checked ~ .modal-backdrop,
  #modal-basket-toggle:checked ~ .modal-backdrop {
    opacity: 0;
  }

  .modal-content {
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
  }
}
.modal-close-btn {
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
}
.modal-close-btn svg {
  transition: 0.2s;
}
.modal-close-btn svg line {
  stroke-width: 5px;
  stroke: #4CAF50;
}
.modal-close-btn:hover svg {
  transform: rotate(90deg);
}

/* BASIC FUNCTIONALITY .tabs */
.tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.tabs > .radio {
  display: none;
}
.tabs > .radio:checked + .table + .tabs-content {
  display: block;
}
.tabs > .table {
  order: -1;
  flex-basis: 50%;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tabs .tabs-content {
  width: 100%;
  display: none;
}

/* END BASIC FUNCTIONALITY .tabs */
/*  THEME for .tabs with login & sign-in  */
.tabs > .table {
  padding: 25px 0;
  text-align: center;
  border-bottom: solid #4CAF50 5px;
  color: #4CAF50;
  cursor: pointer;
}
.tabs > .table span {
  font-weight: 600;
}
.tabs > .table:hover {
  color: #4CAF50;
  background: rgba(76, 175, 80, 0.2);
}
.tabs > .radio:checked + .table {
  color: #fff;
  background: #4CAF50;
  cursor: auto;
}
.tabs > .radio:checked + .table span {
  display: inline-block;
  font-weight: 500;
  transform: scale(1.2);
  transition: 0.1s;
}

/*  END THEME for .tabs with login & sign-in  */
/*  START style login & sign up  */
.tabs > .tabs-content .login_socnet {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}
.tabs > .tabs-content .login_socnet a {
  margin: 20px;
  margin-bottom: 0;
  width: 100%;
  font-size: 60px;
  text-decoration: none;
  transition: 0.2s;
}
.tabs > .tabs-content .login_socnet a:hover {
  transform: scale(1.1);
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.2));
}
.tabs > .tabs-content .login_socnet .fa-vk {
  color: #7986CB;
}
.tabs > .tabs-content .login_socnet .fa-google-plus {
  color: #E57373;
}
.tabs > .tabs-content .login_socnet .fa-facebook {
  color: #5C6BC0;
}
.tabs > .tabs-content form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.tabs > .tabs-content form input {
  padding: 10px;
  margin: 15px 0;
  border: none;
  border-bottom: solid 1px #4CAF50;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.1s;
}
.tabs > .tabs-content form input:focus {
  transform: translateX(10px);
  outline: none;
}
.tabs > .tabs-content input[type="submit"] {
  padding: 15px 0;
  width: 100%;
  background: #4CAF50;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.tabs > .tabs-content input[type="submit"]:focus {
  transform: none;
}
.tabs > .tabs-content .forgot-password label {
  margin: 0 auto;
  width: 50%;
  color: #4CAF50;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
}
.tabs > .tabs-content .forgot-password label:hover {
  text-decoration: underline;
}

/*  END style login & sign up  */
.forgot-password #forgot-password-toggle {
  display: none;
}
.forgot-password .forgot-password-content {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.forgot-password .forgot-password-content input[type="email"] {
  width: 80%;
  margin-right: 0px;
  border-right: none;
}
.forgot-password .forgot-password-content input[type="submit"] {
  width: 20%;
  margin-left: 0px;
}
.forgot-password #forgot-password-toggle:checked ~ .forgot-password-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
}

.page-content {
  color: #af714c;
}
.page-content .resize-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.page-content .resize-me .fa-arrows-h {
  text-align: center;
  width: 100%;
  font-size: 30vw;
  line-height: 0.7;
}
.page-content .resize-me h1 {
  font-size: 4vw;
  letter-spacing: 1vw;
  line-height: 2;
}
.page-content .resize-me span {
  display: inline-block;
  line-height: 2;
  font-size: 2vw;
}
.page-content .text {
  text-align: center;
}
.page-content .text span {
  color: #4c69af;
  display: inline-block;
  font-size: 24px;
  margin: 40px 10px;
}

.links-to-individual-items {
  margin-bottom: 100px;
  margin-left: 10%;
  font-size: 24px;
}
.links-to-individual-items span {
  margin: 10px;
}
.links-to-individual-items a {
  display: inline-block;
  margin: 10px;
  color: #3d8b40;
  text-decoration: none;
}
.links-to-individual-items a:hover {
  text-decoration: underline;
}
