.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.h1{
    text-align: center;
    color: rgb(27, 27, 27);
    font-size: 35px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 50px;
}
.item1,.item2,.item3{
    position: relative;
    width: 80%;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 45px
   
}
.item1{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.item2 {
    background-color: rgb(27, 27, 27);
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}
.item3 {
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.item2 img {
    filter: invert(1);
}
.item3 img {
    filter: invert(1);
}
.number{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 40px;
    font-weight: 400;
}
.title {
    font-size: 30px;
}
.descr{
    font-size: 20px;
}
.item_header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.item:hover .item_header img {
    filter: invert(1);
}
@media(max-width:500px){
    .item_header{
       justify-content: center;
       align-items: center;
    }
    .item1,.item2,.item3{
        align-items: center;
        justify-content: center;
    }
    .item1 img{
       margin-top: 25px;
    }
    .item2 img{
        margin-top: 25px;
     }
     .item3 img{
        margin-top: 25px;
     }
    .h1{
        text-align: center;
        color: black;
        font-size: 30px;
    }
    .title{
        margin-top: 60px;
        font-size: 22px;
    }
    .descr{
        font-size: 18px;
    }
    .number{
        top:15px;
       /* right: 45%; */
    }
}