.Item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    background-color:  #e7e7e7;;
}
.Item a {
    text-decoration: none;
}
.Item h3{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.item_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-bottom: 25px;
}
.item_footer span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    color: #000000;
}
.item_footer button{
    cursor: pointer;
    width: 132px;
    height: 35px;
    background-color: rgb(18, 18, 18);
    color: white;
}
.item_footer button:hover {
    background-color: rgb(48, 48, 48);
}
.goodPhoto {
    filter: grayscale(0%);
    transition: filter 0.3s ease;
   }
   .Item:hover .goodPhoto {
      filter: grayscale(200%);
   }
   .Item:hover .editItems{
      display: flex;
   }
  .Item:hover{
      background-color: rgb(18, 18, 18);
      color: white;
  }
  .Item:hover h3 {
      color: white;
  }
  .Item:hover .item_footer span {
      color: white;
  }
  .Item:hover .item_footer button {
      background-color: white;
      color: black;
  }
/* ------------------------------------------------------ */
