.Item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 400px;
    background-color:  #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.Item img{
    position: absolute;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.Item a {
    text-decoration: none;
}
.Item h3{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 250px;
}

.item_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    margin-bottom: 30px;
}
/* .item_footer span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.015em;
    color: #9d9d9d;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
} */
.item_footer .button{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    right: 0;
    top: 53%;
    cursor: pointer;
    width: 110px;
    height: 33px;
    font-weight: 200;
    font-size: 14px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: rgb(137, 137, 137);
}
.item_footer .button img {
    position: absolute;
    top:8px;
    left: 10px;
}
.item_footer .button span  {
  font-weight: 200;
  padding: 0;
  margin: 0;
}
.price {
    color: #1f1f1f ;
    font-size: 27px ;
}
.item_footer .button:hover {
    background-color: rgb(234, 234, 234);
}
.goodPhoto {
    filter: grayscale(0%);
    transition: filter 0.3s ease;
   }
   .Item:hover .goodPhoto {
      filter: grayscale(250%);
   }
   .Item:hover .editItems{
      display: flex;
   }
  @media(max-width:400px) {
    .Item{
        width: 320px;
        height: 400px;
        background-color:  #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    .Item img {
        width: 320px;
    }
    .item_footer .button img {
        display: none;
}
  }
  /* .Item:hover .item_footer button {
      background-color: white;
      color: black;
  } */
/* ------------------------------------------------------ */
