.epmty_info{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width:700px){
    .epmty_info{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 40px;
        margin-bottom: 50px; 
}
}
.empty_title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}
.epmty_info span {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.4%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #777777;
}
.epmty_info button {
    margin-top: 10px;
    margin-left: 0px;
    width: 260px;
    height: 55px;
    background-color: rgb(27, 27, 27);
    color: white;
    border: none;
    border-radius: 0px;

}
.epmty_info button:hover {
    background-color: rgb(18, 18, 18);
}