main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(41, 41, 41);
  }
  .mainPhoto{
    width: 1300px;
    height: 600px;
  }
  .left_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .bottom_content{
    display: flex;
    gap: 50px;
  }
  .rigth_content {
    margin-top: -30px;
  }
  .left_content_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Open sans", sans-serif;
    color: rgb(32, 32, 32);;
    font-size: 15px;
  }
  
  .rigth_content h1 {
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    color: rgb(43, 43, 43);;
    font-size: 50px;
    text-align: center;
    margin-left: 100px;
  }
  .blockPhoto{
    width: 400px;
    height: 550px;
  }
  .blockPhoto p {
     font-size: 10px;
  }
  .rigth_content_text {
    font-family: "Open sans", sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 790px;
    font-size: 25px;
    text-align: justify;
    margin-left: 100px;
  }
  .line {
    height: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  .descr{
    font-size: 13px;
  }
  @media(max-width:1305px){
    .mainPhoto{
      width: 80%;
      height: 600px;
    }
    .blockPhoto{
      width: 475px;
      height: 650px;
    }
    .content{
      flex-direction: column-reverse;
      width: 80%;
    }
    .left_content{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
    }
    .bottom_content{
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .rigth_content_text {
      width: 100%;
    }
  }
  @media(max-width:1200px){
    .mainPhoto{
      width: 80%;
      height: 500px;
    }
    .blockPhoto{
      width: 400px;
      height: 600px;
    }
    .content{
      flex-direction: column-reverse;
    }
    .left_content{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 25px;
    }
    .rigth_content_text  {
      margin-left: 0px;
    }
    .rigth_content h1 {
      margin-left: 0px;
    }
    .bottom_content{
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px;
    }
  }
  @media(max-width:944px){
     .mainPhoto{
      width: 80%;
      height: 400px;
    }
    .blockPhoto{
      width: 550px;
      height: 800px;
    }
    .content{
      flex-direction: column-reverse;
      width: 80%;
    }
    .left_content{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0px;
    }
    .bottom_content{
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0px;
      margin-right: 0px;
    }
  }
  @media(max-width:780px){
    .rigth_content h1 {
      font-size: 40px;
    }
    .rigth_content_text {
      font-size: 20px;
    }
    .mainPhoto{
      width: 95%;
      height: 400px;
    }
    .content{
      flex-direction: column-reverse;
      width: 95%;
    }
    .blockPhoto {
      max-width: 100%;
      height: 700px;
    }
    .left_content{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0px;
    }
    .bottom_content{
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0px;
    }
  }
  @media(max-width:500px){
    .blockPhoto {
      max-width: 95%;
      height: 500px;
    }
    .descr{
      font-size: 10px;
    }
    .title{
      font-size: 30px;
    }
  }
  /*------------------------------------------------------------------*/
     /*------------------------------------------------------------------*/

.mainCitate{
  white-space: pre-wrap;
  width: 1000px;
  font-size: 25px;
  height: 80px;
}
.h1Input{
  white-space: pre-wrap;
  width: 800px;
  font-size: 25px;
  height: 100px;
}
.text1{
  white-space: pre-wrap;
  width: 800px;
  font-size: 25px;
  height: 300px;
}
.text2{
  white-space: pre-wrap;
  width: 800px;
  font-size: 25px;
  height: 200px;
}
.descrInput{
  white-space: pre-wrap;
  width: 350px;
  height: 40px;
  font-size: 18px;
}
  
 
  
 