header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: white;
    background-color: rgb(18, 18, 18);
    z-index: 11;
  }
  .header_container{
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .logo_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo_block p {
    font-family: "Tangerine";
    margin-top: -40px;
    font-size: 25px;
    color: rgb(152, 152, 152);
  }
  .logo{
    font-weight: 400;
    font-family: "Open sans", sans-serif;
    font-size: 27px;
  }
  ul {
    display: flex;
    gap:80px;
    align-items: center;
    justify-content: center;
    margin-bottom: -50px;
  }
  ul li {
    list-style: none;
  }
  ul li:hover a {
    color: rgb(109, 109, 109);
  }
  ul li a {
    font-family: "Marmelad";
     text-decoration: none;
     color: white;
  }
  .button{
    width: 100px;
    height: 20px;
    background-color:rgb(18, 18, 18);
    margin-bottom: 20px;
    color: white;
 }
  @media(max-width:944px){
    .logo{
      font-size: 25px;
      text-align: center;
    }
    ul {
      gap: 50px;
    }
  }
 
  @media(max-width:700px){
    nav{
      width: 400px;
      overflow-x: scroll;
      height: 40px;
      overflow-y: hidden;
      padding-bottom: 10px;
    }
    ul {
      width: 500px;
      gap: 25px;
    }
    ul li a {
      white-space: nowrap;
   }
}

@media(max-width:500px){
  nav{
    width: 300px;
    overflow-x: scroll;
    height: 40px;
    overflow-y: hidden;
  }
  ul {
    width: 500px;
    gap: 15px;
  }
  ul li a {
    white-space: nowrap;
 }
 header{
  height: 200px;
 }
}