.drawer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    right: 0;
    background-color:  white;
    z-index: 1;
    justify-content: space-between ;
    z-index: 2;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
}
@media(max-width:700px){
    .drawer{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 70px;
    border-radius: 0px;
    }
}
.title h3{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #181818;
}
.title span {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7B;
}

.cart_Items img {
    margin-top: 10px;
    margin-left: 10px;
}
.form {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form form {
    background-color:  white;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.form h3{
    color: white;
}
@media (max-width: 385px) {
    .form h3{
       font-size: 18px;
    }
}
form input {
    padding-left: 20px;
    width: 600px;
    height: 55px;
    color: black;
    background-color: white;
    font-size: 20px;
    border-bottom: 2px rgb(0, 0, 0) solid;
    border-top: none ;
    border-left: none ;
    border-right: none ;
}
.textarea{
    padding-left: 20px;
    width:610px;
    height:100px;
    color:black;
    font-size:17px;
    background-color:white;
    border:none;
    padding-left: 5px;
    border-bottom: 2px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
@media (max-width: 650px) {
    .form input{
        width: 400px;
    }
    .textarea{
        width: 410px;
    }
}
@media (max-width: 450px) {
    .form input{
        width: 300px;
    }
    .textarea{
        width: 310px;
    }
}

.submit {
    width: 180px;
    height: 55px;
    background: white;
    color: black;
    border: 2px solid black;
}
.submit:hover {
    background-color: rgb(18, 18, 18);
    color: white;
}
.back {
    margin-top: -25px;
    width: 180px;
    height: 55px;
    background-color: rgb(18, 18, 18);
    color: white;
}
.back :hover {
    margin-top: -25px;
    width: 180px;
    height: 55px;
    background: white;
    color: black;
    border: 2px solid black;
}


