.wrapper{
    width: 156%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 100px;
}
.content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(max-width:1130px){
    .content{
        display: flex;
        align-items: center;
        gap: 100px;
    }
}
@media(max-width:1000px){
    .content{
        flex-direction: column-reverse;
        gap: 0px;
    }
}
.contWrapper{
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    color: rgb(96, 96, 96);
}
.contWrapper p {
    color: rgb(135, 135, 0);
    font-size: 18px;
}
.contWrapper a {
    color: rgb(135, 135, 0);
    text-decoration: none;
    font-size: 18px;
}
.linkSocial img {
    filter: brightness(0) 
}
.contWrapper a:hover{
    color: blue;
}
.h1{
    color: rgb(96, 96, 96);
    margin-top:150px;
}
.form {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top:20px;
    padding-top:40px;
    padding-bottom:100px;
}
@media(max-width:1000px){
    form{
        padding-top:0px;
        padding-bottom:20px;
    }
}
select{
    font-size: 17px;
    width:807px;
    height:50px;
    color:black;
    background-color: white;
    border: 2px black solid;
    padding-left: 3px;
    padding-right: 20px;
    padding-left: 7px;
} 
select option {
    height:50px;
}
textarea{
    width:800px;
    height:200px;
    color:black;
    font-size:17px;
    background-color: white;
    border: 2px black solid;
    padding-left: 5px;
}
.item{
    display:flex;
    flex-direction:column;
    margin-left:20px;
    margin-right:20px;
}
.item label{
    color:grey;
}
.input {
    width:800px;
    height:50px;
    color:black;
    font-size:17px;
    background-color: white;
    border: 2px black solid;
    padding-left: 5px;
}
@media(max-width:670px){
    /* .item select,.item select option{
        width:297px;
    }; */
    .form{
        width:320px;
    }
    textarea{
        width:320px;  
    }
    .item input{
        width:320px;
    }
    .h1{
      font-size:25px;
    }
}

/* @media(max-width:410px){ */
    /* .item select,.item select option{
        width:297px;
    }; */
    /* .item input{
        width:247px;
    } */

.button{
    cursor: pointer;
    height: 60px;
    width: 200px;
    color:black;
    font-size:17px;
    background-color: white;
    border: 2px black solid;
}
.button:hover{
    background-color: rgb(30, 30, 30);
    color: white;
} 
iframe{
    width: 100%;
    margin-bottom: 0px;
}
.inputPhoto{
    background-color: white;
    margin-top: 10px;
    color: black;
    width: 800px;
    height: 30px;
}