.cart_item{
    height: 140px;
    max-width: 1020px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #000000; ;
}
.title_inner_cart h3{
    width: 200px;
}
.title_inner_cart h3{
    font-size: 19px;
    white-space:wrap;
}
@media(max-width:861px){
    .cart_item{
        gap:20px ;
    }
}
@media(max-width:385px){
    .cart_item{
        gap:10px ;
    }
}
.cart_item_rigth{
    gap: 93px;
    display: flex;
    align-items: center;
}
@media(max-width:861px){
    .cart_item_rigth{
        gap:20px ;
    }
}
@media(max-width:566px){
    .cart_item_rigth{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
}
.descr{
    display: flex;
    align-items: center;
    gap: 15px;
}
/* @media(max-width:566px){
    .descr{
        width: 200px;
    }
} */
.descr h3{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
}
@media(max-width:566px){
    .descr h3{
        font-size: 10px;
    }
}
.descr span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #8D8D8D;
}
@media(max-width:600px){
    .descr img {
        width: 40px;
        height: 40px;
    }
    .title_inner_cart h3{
        font-size: 15px;
        white-space:wrap;
    }
}
.count{
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 2px;
}
@media(max-width:566px){
    .count {
        gap: 1px;
    }
}
@media(max-width:566px){
    .count .img_min{
        height: 15px;
        width: 15px;
    }
}
@media(max-width:566px){
    .count .img_plus{
        height: 18px;
        width: 18px;
    }
    .cart_item{
       height: 70px;
    }
}
.count span {
    text-align: center; 
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
    width:20px;
}
@media(max-width:566px){
    .count span{
        text-align: center;
        font-size: 15px;
        width:15px;
    }
}
.price{
    width: 100px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
}
@media(max-width:566px){
    .price{
        font-size: 15px;
        line-height: 20px;
        width: 40px;
    }
    .del_cart{
        width: 20px;
        height: 20px;
    }
}
@media(max-width:400px){
    .cart_item{
       gap:10px;
    }
}
