.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    margin-top: 150px;
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    max-width: 800px;
    padding-left: 50px;
    padding-right: 50px;
}

.contWrapper{
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(96, 96, 96);
    gap: 10px;
}
.contWrapper h3{
   font-size: 25px;
   font-weight: 400;
   text-align: center;
   color: rgb(41, 41, 41);
}
.contWrapper p {
    font-size: 20px;
}
.contWrapper a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(23, 23, 23);
}
.linkSocial img {
    filter: brightness(0) 
}
.contWrapper a:hover{
    color: blue;
}
.h1{
    color: rgb(96, 96, 96);
    margin-top:150px;
}
.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top:20px;
    padding-top:40px;
    padding-bottom:100px;
}
.header_form {
    display: flex;
}
.header_form .item input {
    width: 277px;
   border-bottom: 2px black solid;
   border-top: none;
   border-left: none;
   border-right: none;
}
.select{
    background-color:white ;
    width:605px;
    height:50px;
    border:none;
    color:black;
    padding-left: 3px;
    border-bottom: 2px black solid;
} 
.select option {
    height:50px;
}
.textarea{
    width:600px;
    height:100px;
    color:black;
    font-size:17px;
    background-color:white;
    border:none;
    padding-left: 5px;
    border-bottom: 2px black solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
.item{
    display:flex;
    flex-direction:column;
    margin-left:20px;
    margin-right:20px;
}
.item label{
    color:grey;
}
.item input {
    width:600px;
    height:50px;
    color:black;
    font-size:17px;
    background-color:white;
    border-bottom: 2px black solid;
    padding-left: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.button{
    cursor: pointer;
    height: 60px;
    width: 200px;
    font-size: 17px;
    color: black;
    background-color: white;
    border: 2px solid black;
}
.button:hover{
    background-color: rgb(25, 25, 25);
    color: white;
}
@media(max-width:712px){
    .content{
        width: 400px;
    }
    .header_form .item input {
        width: 175px;
    }
    .item select,.item select option{
        width:405px;
    };
    .form{
        width:400px;
    }
    .textarea{
        width:400px; 
    }
    .item input{
        width:400px;
    }
    h3{
      font-size:20px;
    }
}
@media(max-width:512px){
    .content{
        width: 300px;
    }
    .header_form .item input {
        width: 125px;
    }
    .item select,.item select option{
        width:300px;
    };
    .form{
        width:300px;
    }
    .textarea{
        width:300px; 
    }
    .item input{
        width:300px;
    }
    h3{
      font-size:17px;
    }
}
@media(max-width:512px){
    .content{
       border: none;
       padding: 0 0 0 0;
       margin-top: 70px
    };
}