.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
@media (max-width:700px) {
    .cart {
    margin-bottom: 20px;
}
}
.head{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 373px;
    max-width: 820px;
}
@media(max-width:861px){
    .head{
        gap:173px ;
        margin-bottom: 10px;
        margin-top: 30px;
    }
}
@media(max-width:710px){
    .head{
        margin-top: 80px;
       gap:10px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
}


.title_cart {
    display: flex;
    gap:5px;
    align-items:center;
}
.title_cart h1 {
    margin-left:0px
}
.delete_cart{
    display: flex;
    gap: 3px;
}
.delete_cart span {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B6B6B6;
}
.delete_cart span:hover{
    color: rgb(87, 87, 87) ;
    font-size: 16.5px;
}
.cart_footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top:30px;
}
.total_info{
    display: flex;
    gap:330px;
}
@media(max-width:861px){
    .total_info{
        justify-content: center;
        gap:70px ;
        margin-left: 30px;
    }
}
@media(max-width:580px){
    .total_info{
        flex-direction: column;
        justify-content: center;
        gap:10px ;
        margin-left: 30px;
        align-items: center;
    }
}

.cart_buts{
    display: flex;
    gap:350px;
}
@media(max-width:861px){
    .cart_buts{
        justify-content: center;
        gap:70px ;
        margin-left: 30px;
    }
}
@media(max-width:580px){
    .cart_buts{
        align-items: center;
        gap:0px ;
        flex-direction: column;
        margin-bottom: 70px;
    }
    .cart_footer{
        margin-right: 30px;
    }
}
.total_count,.total_price{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
}
.total_count span {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
}
.total_price span{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: black;
}
.buy {
    width: 200px;
    height: 45px;
    background-color: rgb(27, 27, 27);
    color: white;
    border: none;
}
.buy:hover{
    background: rgb(255, 255, 255);
    color: black;
    border: 2px solid #000000;
}
.c_back{  
    width: 200px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid rgb(27, 27, 27);
    color: #000000;
}
.c_back:hover{
    border: 2px solid ;
    background-color: rgb(27, 27, 27);
    color:white;
}